.favourites{
    width: 100%;
    height: calc(100vh - 200px);
    background: url('../../assets/images/BG_FAVOURITES.jpg');
    background-position: center;
    background-size: contain;
    background-attachment: fixed;

    .overlay{
        height: inherit;
        padding: 2rem 0;
        background-color: rgba(0, 0, 0, 0.845);
        overflow: auto;

        h2{
            width: 50%;
            margin: 0 auto;
            text-align: center;
            border: 1px solid white;
            border-radius: 5px;
            padding: 15px;
            background-color: rgba(0, 0, 0, 0.804);
        }
    }

    .favouritesContainer{
        height: 100%;
        margin-bottom: 1rem;
    }
}