*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 62.5%;
    color: #fff;
    overflow: auto;
}


h1{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2rem;
}